/* Sidebar Header */
.sidebar-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
    height: 72px;
}

/* Sidebar Menu List */
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .item {
    cursor: pointer;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    width: 100%;
    height: 56px;
    text-decoration: none;

    & .item-text span {
        font-size: 1.2rem;
    }

    & .icon {
        font-size: 2rem;
    }
}

.sidebar .item:hover {
    mix-blend-mode: plus-lighter;
}

.sidebar .close {
    border-radius: 50px;
    width: auto;

    & .item-text {
        display: none;
    }
}

/* Inctive Styling */
.inactive-link {
    color: var(--secondary-light);
    background-color: var(--primary-dark);

    & .icon {
        color: var(--primary-light);
    }
}

/* Active Styling */
.active-link {
    background-color: var(--primary-light);
    box-shadow: -5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--primary-dark);

    & .icon {
        color: var(--primary-dark);
    }
}

/* Settings Button */
.settings {
    align-items: center;
    margin: auto;
    width: fit-content !important;
    border-radius: 50px !important;
    border: 1px solid var(--primary-light);
}